{% extends 'index.html' %}



{% block content %}
    <div class="container w-75 mt-4 p-3 rounded" style="background-color:rgb(243, 240, 237)">
        <div class="row">
            <div class="col-12">
                <h1 class="font-monospace fs-1 fw-bold">Dodaj nowy przepis</h1>
            </div>
        </div>
        <form>
            <div class="row m-3 text-start justify-content-center">
                <div class="col-5">
                    <label for="recipe_name">Recipe name: </label>
                    <input type="text" class="form-control" id="recipe_name" name="recipe_name">
                </div>
                <div class="col-5">
                    <label for="category">Category: </label>
                    <select class="form-control" id="category" name="category">
                        <option selected>Choose...</option>
                        <option value="1">Sernik</option>
                        <option value="2">Torty</option>
                        <option value="3">Ciasta z kremem</option>
                        <option value="4">Ciasta z owocami</option>
                        <option value="5">Ciasteczka</option>
                    </select>
                </div>
            </div>
            <div class="row m-3 text-start justify-content-center">
                <div class="col-5 m-auto" id="field_div">
                    <label for="add_ing_button" style="display:inline-block;">Składniki:</label>
                    <input type="button" class="btn btn-secondary btn-sm m-2 pb-1" id="add_ing_button" value="Dodaj pole składniku" onclick="add_field();">
                </div>
                <div class="col-5">
                    steps
                </div>
            </div>
    

            
        
    </div>
    <script>

        function add_field()
        {
        var total_text=document.getElementsByClassName("input-group");
        total_text=total_text.length+1;
        document.getElementById("field_div").innerHTML=document.getElementById("field_div").innerHTML+
        "<p><div class='input-group mb-3'><input type='text' class='form-control' placeholder='Składnik"+total_text+"' id='ingridient"+total_text+"' name='ingridient"+total_text+"'><button class='btn btn-outline-secondary' type='button' id='remove'>Remove</button></div></p>"
        }
    </script>
{% endblock %}